

<mat-card>
  <mat-card-content style="display:flex; flex-direction: row;">
    <div style="flex: 1">
      <h2>Options d'affichage</h2>
      <mat-form-field>
        <mat-select [(ngModel)]="server" placeholder="Serveur" (change)="update(true)">
          <mat-option *ngFor="let server of SERVERS" [value]="server">
            {{ server }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [min]="fromTimestamp(MIN_DATE)" [max]="end"
               [matDatepicker]="beginDate" placeholder="Date de début de mesure" [value]="begin"
               readonly>
        <mat-datepicker-toggle matSuffix [for]="beginDate"></mat-datepicker-toggle>
        <mat-datepicker #beginDate (selectedChanged)="selectBeginDate($event)"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [min]="begin" [max]="fromTimestamp(MAX_DATE)"
               [matDatepicker]="endDate" placeholder="Date de fin de mesure" [value]="end"
               readonly>
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate (selectedChanged)="selectEndDate($event)"></mat-datepicker>
      </mat-form-field>

      <div *ngFor="let serie of seriesDefs | keyValue" class="controls">
        <mat-checkbox [checked]="activeSeries.indexOf(serie.key) > -1"
                      (click)="toggleSeries(serie.key)"
                      [value]="serie.key">{{serie.value}}
        </mat-checkbox>
      </div>
    </div>


    <div style="flex: 1">
      <h2>Données de télémétrie pour {{ server }}</h2>
      <div [chart]="chart"></div>
      <small>données pour la période du {{ begin | date:'dd/MM/yyyy'}} au {{ end | date:'dd/MM/yyyy' }} inclus</small>
    </div>
  </mat-card-content>
</mat-card>

